@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

:root {
	--fool-blue: #07a;
	--fool-white: #efefef;
	--fool-black: hsl(200, 15%, 8%);
}

* {
	box-sizing: border-box;
}

html,
body {
	background-color: var(--fool-white);
	font-family: "Nunito Sans", sans-serif;
	color: var(--fool-black);
	margin: 0;
}

img {
	max-width: 100%;
}

/* motley fool header */
header {
	width: 100%;
	padding: 2rem 0rem;
	background-color: var(--fool-blue);
	border-color: var(--fool-blue);
	box-shadow: 0 0 2px -1px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
}

h1 {
	margin: 0;
}

/* input styling */
.search {
	background-color: var(--fool-white);
	padding: 20px;
	border-radius: 4px;
	border: none;
	box-shadow: 0 0 2px -1px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
	color: inherit;
	min-width: 300px;
	font-size: 14px;
}

.search::placeholder {
	color: inherit;
	font-family: "Nunito Sans", sans-serif;
	font-weight: 300;
	opacity: 0.7;
}

/* dropdown styling */
.dropdown {
	background-color: var(--fool-white);
	border-radius: 4px;
	cursor: pointer;
	box-shadow: 0 0 2px -1px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
	font-size: 14px;
	padding: 20px;
	font-weight: 300;
	position: relative;
}

.dropdown .fa.chevron-down {
	margin-left: 10px;
}

.dropdown ul {
	background-color: var(---fool-white);
	color: inherit;
	border-radius: 4px;
	box-shadow: 0 0 2px -1px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
	padding: 20px;
	width: 100%;
	position: absolute;
	list-style-type: none;
	top: 100%;
	left: 0;
}

.dropdown ul li {
	margin: 10px 0;
}
