@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

:root {
	--fool-blue: #07a;
	--fool-green: #5fa85d;
	--fool-white: #efefef;
	--fool-black: hsl(200, 15%, 8%);
	--grey: grey;
}

* {
	box-sizing: border-box;
}

html,
body {
	background-color: var(--fool-white);
	font-family: "Nunito Sans", sans-serif;
	color: var(--fool-black);
	margin: 0;
}

img {
	max-width: 100%;
}

header {
	background-color: var(--fool-blue);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
}

.container {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
	padding: 30px;
	margin: 0 10px 10px 10px;
}

.container-header {
	display: flex;
	flex-direction: column;
}

.container-filter {
	padding: 15px 30px 0 30px;
	margin: 10px;
	display: flex;
}

.content-center {
	text-align: center;
}

.content-center__headline {
	font-size: 3rem;
	margin: 10px;
}

.content-center__text {
	font-size: 18px;
	margin: 0;
}

/* dropdown styling */
.dropdown {
	background-color: #fff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
	padding: 20px;
	font-size: 14px;
	border-radius: 4px;
	position: relative;
	cursor: pointer;
	width: 300px;
	display: flex;
	justify-content: space-between;
	margin: 0 15px;
}

.dropdown .fa-chevron-down {
	margin-left: 10px;
}

.dropdown ul {
	padding: 20px;
	position: absolute;
	top: 100%;
	list-style-type: none;
	left: 0;
	width: 100%;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
	display: none;
	cursor: pointer;
}

.dropdown.open ul {
	display: block;
	z-index: 3;
}

.dropdown ul li {
	margin: 5px 0;
}

.dropdown ul li:hover {
	font-weight: bold;
}

/* article card styling */
.article {
	display: flex;
	flex-direction: column;
	max-width: 325px;
	background-color: #fff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
	border-radius: 10px;
	overflow: hidden;
	cursor: pointer;
	margin: 15px;
}

.article-image {
	width: 100%;
}

.byline-container {
	display: flex;
}

.article-byline {
	font-size: 18px;
	font-weight: 600;
	margin: 0;
	color: red;
}

.article-body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 15px 15px 0 15px;
	color: var(--grey);
}

.article-link {
	text-decoration: none;
}

.article-body h2 {
	margin-top: 0;
	color: var(--fool-black);
}

.article-promo {
	margin-bottom: 20px;
	padding: 0;
	color: var(--fool-black);
}

.market-info {
	font-size: 16px;
	color: var(--fool-black);
	padding: 0;
	margin: 5px 0;
}

.market-info__content {
	font-size: 14px;
	margin: 5px 0;
	padding: 0;
}

.article-bureau {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
	margin: 20px 0;
}

.tags {
	border: 1px solid var(--fool-blue);
	color: var(--fool-white);
	background-color: var(--fool-blue);
	padding: 5px 15px;
	border-radius: 50px;
	font-size: 14px;
}

.tags:hover {
	color: var(--fool-blue);
	background-color: var(--fool-white);
}

/* stock advisor panel */
.market-table__headline {
	text-align: center;
	font-size: 16px;
	color: var(--fool-green);
	text-transform: uppercase;
	font-weight: 600;
}

.market-table {
	margin: auto;
	max-width: 325px;
	text-align: center;
	border-top: 1px solid var(--grey);
	padding-top: 3px;
}

.table-flex {
	display: flex;
	justify-content: space-between;
	padding: 5px 0;
}

.first-item {
	padding: 0;
	margin-left: -50%;
}

.market-table__category {
	text-transform: uppercase;
	color: var(--grey);
}

.market-table__disclaimer {
	font-size: 12px;
	color: var(--grey);
	padding-top: 10px;
	margin-bottom: 0;
}

.btn {
	margin: 1rem 2rem 2rem 2rem;
	padding: 20px;
	background-color: var(--fool-green);
	outline: none;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}

.btn a {
	text-decoration: none;
	color: var(--fool-white);
	font-weight: bold;
	font-size: 16px;
	letter-spacing: 1px;
}

.btn:hover {
	transform: scale(1.02);
	transition: all 0.2s;
}

@media screen and (max-width: 768px) {
	header {
		padding: 30px 15px;
	}

	.content-center__headline {
		font-size: 2.5rem;
	}

	.content-center__text {
		font-size: 16px;
		padding: 10px 10px 30px 10px;
	}

	.container {
		display: flex;
		flex-direction: column;
		padding: 0;
		margin: 0;
		align-items: center;
	}

	.container-filter {
		display: block;
		padding: 0;
		margin: 0;
	}

	.dropdown {
		width: 275px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 10px 15px;
	}

	.article-headline,
	.article-promo {
		margin-bottom: 10px;
	}

	.market-table {
		padding: 0 5px;
	}

	.first-item {
		margin-left: -95px;
	}
}
