{% load static %}

<html>
	<head>
		<title>Motley Fool Coding Challenge - Hannah McMahons</title>
		<link
			rel="shortcut icon"
			id="fool-favicon"
			href="https://g.foolcdn.com/misc-assets/favicon.ico"
		/>
		<link rel="stylesheet" href="/static/styles.css" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
		/>
	</head>
	<body>
		<header>
			<div class="container">
				<a
					href="http://www.fool.com"
					class="link-white no-hover"
					aria-label="home page"
				>
					<img
						alt="Motley Fool Logo"
						src="https://g.foolcdn.com/art/fool15/bg/fool-logo.png"
					/>
				</a>
			</div>
		</header>

		<!--Page Content -->
		<section>
			<div class="content-center">
				<h1 class="content-center__headline">Stock Market News</h1>
				<p class="content-center__text">
					A Foolish take on stocks and the market. Get stock ideas, investing
					tips, and perspective.
				</p>
			</div>
		</section>

		<section>
			<div class="container-filter">
				<div class="dropdown" id="filter">
					Filter by Topic
					<i class="fas fa-chevron-down mx-1"></i>
					<ul class="">
						<li class="my-2">All</li>
						<li class="my-2">Financials</li>
						<li class="my-2">Technology and Telecom</li>
						<li class="my-2">Energy, Materials, and Utilities</li>
						<li class="my-2">Consumer Goods</li>
					</ul>
				</div>
				<div class="dropdown" id="filter-market">
					Filter by Company
					<i class="fas fa-chevron-down mx-1"></i>
					<ul>
						<li>All</li>
						<li>51job</li>
						<li>Atlassian</li>
						<li>Barrick Gold</li>
						<li>Goldman Sachs</li>
						<li>Intel</li>
						<li>National Grid</li>
						<li>NCR Corp</li>
						<li>Nvidia</li>
						<li>Pearson</li>
						<li>Skyworks Solutions</li>
					</ul>
				</div>
			</div>
		</section>

		<section>
			<!--News Articles-->
			<div class="container articles" id="articles">
				<h2>articles are loading...</h2>
			</div>
		</section>

		<section>
			<!-- Join SA CTA -->
			{% include "partials/join_sa.html" %}
		</section>

		<!--JS -->
		<script type="text/javascript" src="/static/script.js"></script>
	</body>
</html>
