{% load static %}

<html>
	<head>
		<title>Motley Fool Coding Challenge - Hannah McMahons</title>
		<link rel="stylesheet" href="/static/styles.css" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
		/>
	</head>
	<body>
		<header>
			<div class="container">
				<a
					href="http://www.fool.com"
					class="link-white no-hover"
					aria-label="home page"
				>
					<img
						alt="Motley Fool Logo"
						src="https://g.foolcdn.com/art/fool15/bg/fool-logo.png"
					/>
				</a>
			</div>
		</header>

		<!--Page Content -->
		<section>
			<div class="content-center">
				<h1 class="content-center__headline">Stock Market News</h1>
				<p class="content-center__text">
					A Foolish take on stocks and the market. Get stock ideas, investing
					tips, and perspective.
				</p>
			</div>
		</section>

		<section>
			<div class="container">
				<input
					type="text"
					class="search"
					id="search"
					placeholder="search for an topic..."
				/>

				<div class="dropdown" id="filter">
					Filter by topic
					<i class="fas fa-chevron-down mx-1"></i>
					<ul class="">
						<li class="my-2">All</li>
						<li class="my-2">Fin Tech</li>
						<li class="my-2">Stocks</li>
						<li class="my-2">Investments</li>
						<li class="my-2">Sock 🧦 Options</li>
						<li class="my-2">Financials</li>
					</ul>
				</div>
			</div>
		</section>

		<section>
			<div class="container articles" id="articles">
				<h2>articles loading</h2>
			</div>
		</section>

		<section class="content-center">
			<!-- Join SA CTA -->
			{% include "partials/join_sa.html" %}
		</section>

		<!--JS -->
		<script type="text/javascript" src="/static/script.js"></script>
	</body>
</html>
